<a href="https://colab.research.google.com/github/kanjamwingirwa/Electric-Cars-Data-Analysis/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_05_Farnadis_Kanja_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Let's the Pandas Library

import pandas as pd

# Let's the Numpy Library

import numpy as np

In [ ]:
# Read the data from the CSV file and create the dataframe to be used
df = pd.read_csv (r'/content/Autolib_dataset (2).csv')

In [ ]:
#preview the first five lines of our data
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#preview the last five lines of our data
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

In [ ]:
#determine the type of dataframe
type(df)

pandas.core.frame.DataFrame

In [ ]:
#determine the shape of the data to get a feel of the data
df.shape

(5000, 25)

In [ ]:
#get information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
#determine the dimensions of the data
df.ndim

2

In [ ]:
#because the two columns scheduled at and displayed comment have so many null values, we drop them 
df.drop(["Scheduled at", "Displayed comment"], axis = 1, inplace = True) 
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

In [ ]:
#drop geo point column as it seems irrelevant to this analysis
df.drop(["Geo point"], axis = 1, inplace = True) 
df.head

<bound method NDFrame.head of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 22 columns]>

In [ ]:
# We count the number of non - missing values in the df dataframe

df.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
ID                     5000
Kind                   5000
Postal code            5000
Public name            5000
Rental status          5000
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [ ]:
#determine if there are any zero values in the data after some cleaning
np.count_nonzero(df.isnull())

0

In [ ]:
#set the all the 5 date and time columns into one
df['datetime'] = pd.to_datetime(df[['minute','hour','month','day','year']])
df.head(5)

                              Address  Cars  ...  minute            datetime
0                 2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00

[5 rows x 23 columns]

In [ ]:
#delete the older date columns
df.drop(["year", "month", "day", "hour", "minute"], axis = 1, inplace = True) 
df.head(5)

                              Address  ...            datetime
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 18 columns]

In [ ]:
#splitting the datetime to two separate columns 'time' and 'date'
df['date']=[d.date() for d in df.datetime]
df['time']=[d.time() for d in df.datetime] 
df['date']=pd.to_datetime(df['date'])
df['time']=pd.to_datetime(df['time'], format="%H:%M:%S:%f", errors='ignore')

In [ ]:
#check the first few rows
df.head(5)

                              Address  Cars  ...       date      time
0                 2 Avenue de Suffren     0  ... 2018-04-08  11:43:00
1           145 Rue Raymond Losserand     6  ... 2018-04-06  07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ... 2018-04-03  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ... 2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret     3  ... 2018-04-08  17:23:00

[5 rows x 20 columns]

In [ ]:
#delete the datetime column
df.drop(["datetime"], axis = 1, inplace = True) 
df.head(5)

                              Address  Cars  ...       date      time
0                 2 Avenue de Suffren     0  ... 2018-04-08  11:43:00
1           145 Rue Raymond Losserand     6  ... 2018-04-06  07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ... 2018-04-03  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ... 2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret     3  ... 2018-04-08  17:23:00

[5 rows x 19 columns]

In [ ]:
#checking if the changes have been effected
df.dtypes

address                        object
cars                            int64
bluecar_counter                 int64
utilib_counter                  int64
utilib_1.4_counter              int64
charge_slots                    int64
charging_status                object
city                           object
id                             object
kind                           object
postal_code                     int64
public_name                    object
rental_status                  object
slots                           int64
station_type                   object
status                         object
subscription_status            object
date                   datetime64[ns]
time                           object
dtype: object

In [ ]:
#changing columns to lower case
#renaming columns
df.columns = map(str.lower, df.columns)
columns=['address', 'cars','bluecar_counter','utilib_counter', 'utilib_1.4_counter', 'charge_slots','charging_status', 'city', 'id', 'kind', 'postal_code',
         'public_name', 'rental_status', 'slots', 'station_type',
         'status', 'subscription_status','date', 'time']
df.columns=columns
df.columns

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city', 'id',
       'kind', 'postal_code', 'public_name', 'rental_status', 'slots',
       'station_type', 'status', 'subscription_status', 'date', 'time'],
      dtype='object')

In [ ]:
#lets see some basic statistics about the data
df.describe()

              cars  bluecar_counter  ...   postal_code        slots
count  5000.000000      5000.000000  ...   5000.000000  5000.000000
mean      2.333600         2.333600  ...  82634.878400     1.932400
std       2.035274         2.035274  ...   8835.865721     1.905402
min       0.000000         0.000000  ...  75001.000000     0.000000
25%       0.000000         0.000000  ...  75012.000000     0.000000
50%       2.000000         2.000000  ...  75019.000000     1.000000
75%       4.000000         4.000000  ...  92320.000000     3.000000
max       7.000000         7.000000  ...  95880.000000     7.000000

[8 rows x 7 columns]

In [ ]:
#lets see some statistics about the data which is not numerical
df.describe(include=object)

                                  address  ...      time
count                                5000  ...      5000
unique                               1104  ...      1394
top     8 Avenue de la Porte de Montrouge  ...  22:29:00
freq                                   13  ...        10

[4 rows x 11 columns]

In [ ]:
#arranging the time and dates chronologically
df = df.sort_values(by="time" and "date", ascending = True)
df.tail()

                        address  cars  ...       date      time
1456  44 rue SÃ©bastien Mercier     5  ... 2018-04-09  21:32:00
505    5 rue FrÃ©dÃ©ric LoliÃ©e     3  ... 2018-04-09  10:49:00
4677      14 place Moreau David     6  ... 2018-04-09  10:53:00
538           1 rue Jean Monnet     3  ... 2018-04-09  12:56:00
264    1 Place Georges Pompidou     0  ... 2018-04-09  09:32:00

[5 rows x 19 columns]

In [38]:
#to count utilib_1.4_counter cars
df.groupby('cars')['utilib_counter'].value_counts()

cars  utilib_counter
0     0                 1411
      1                   32
      2                    4
1     0                  621
      1                   39
      2                    3
2     0                  588
      1                   37
      2                    3
3     0                  605
      1                   66
      2                    1
4     0                  589
      1                   47
5     0                  528
      1                   45
      2                    1
6     0                  333
      1                    8
7     0                   39
Name: utilib_counter, dtype: int64

In [39]:
#to count utilib_1.4_counter cars
df.groupby('cars')['utilib_1.4_counter'].value_counts()

cars  utilib_1.4_counter
0     0                     1376
      1                       68
      2                        3
1     0                      589
      1                       63
      2                       10
      3                        1
2     0                      535
      1                       81
      2                       11
      3                        1
3     0                      556
      1                      103
      2                       13
4     0                      506
      1                      125
      2                        5
5     0                      501
      1                       73
6     0                      329
      1                       12
7     0                       39
Name: utilib_1.4_counter, dtype: int64

In [40]:
#to count blue car counter cars
df.groupby('cars')['bluecar_counter'].value_counts()

cars  bluecar_counter
0     0                  1447
1     1                   663
2     2                   628
3     3                   672
4     4                   636
5     5                   574
6     6                   341
7     7                    39
Name: bluecar_counter, dtype: int64

In [44]:
#to prove redundancy of bluecar counter as the figure is always equal to cars
grouped_df = df.groupby("bluecar_counter")["cars"]
maximums = grouped_df.max()
maximums

bluecar_counter
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
Name: cars, dtype: int64

In [45]:
#to determine popularity of utilib counter
grouped_df = df.groupby("utilib_counter")["cars"]
maximums = grouped_df.max()
maximums

utilib_counter
0    7
1    6
2    5
Name: cars, dtype: int64

In [46]:
#to determine popularity of utilib 1.4
grouped_df = df.groupby("utilib_1.4_counter")["cars"]
maximums = grouped_df.max()
maximums

utilib_1.4_counter
0    7
1    6
2    4
3    2
Name: cars, dtype: int64

In [53]:
#to determine the most popular postal code for blue cars
df.groupby('bluecar_counter')['postal_code'].max()

bluecar_counter
0    95880
1    95880
2    95880
3    95880
4    95100
5    95880
6    95880
7    94450
Name: postal_code, dtype: int64

In [60]:
df['postal_code'== 95880].map('address')

KeyError: ignored